name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - run: pnpx prettier --version

      - name: lint
        run: pnpm run lint
