name: Unit tests
on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      
      - uses: pnpm/action-setup@v2.2.2
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false
      
      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"
      
      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      
      - uses: pnpm/action-setup@v2.2.2
        with:
          run_install: true
      
      - name: Install Playwright
        run: npx playwright install --with-deps
      
      - name: Build packages
        run: pnpm run build
      
      - name: Run unit tests
        run: pnpm run test --no-threads

      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: image-diffs
          path: packages/**/__image_snapshots__/__diff_output__/

      - name: Run e2e tests
        run: pnpm playwright test 
        working-directory: ./examples/full

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: playwright-report
          path: playwright-report
        working-directory: ./examples/full