name: Unit tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm run build

      - name: Run unit tests
        run: pnpm run test

      - uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: image-diffs
          path: packages/**/__image_snapshots__/__diff_output__/
